.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.mainNavLogo {
    display: flex;
    align-items: center;
}

.mainNavLogoImage {
    max-width: 100%;
    width: 200px;
}

.mainNavItem {
    text-decoration: none;
    margin-right: 0.5rem;
}

.mainNavItem:hover {
    text-decoration: underline;
}

.spanUser{
    padding-right: 1em;
}

i{
    padding-right: 0.25em;
}

@media (max-width: 420px) {
    .mainNavItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: small;
    }
}